<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <h1><a href="/">Ismagram</a></h1>
        <% if (user[0]._doc.profilePhoto) { %>
            <div class="d-grid gap-2 col-6 mx-auto">
                <img src="<%= user[0]._doc.profilePhoto %>" class="rounded-circle mx-auto" style="width: 200px; height: 220px;">
            </div>
        <% } else { %>
            <form action="/updatePhoto" method="POST" enctype="multipart/form-data">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="rounded-circle mx-auto" style="width: 200px; height: 220px;">
                        <input id="file-upload" class="form-control" type="file" name="profilePhoto" accept="image/*" placeholder="Add an image">
                        <label for="file-upload" class="text-center text-wrap lh-sm mt-1 mb-0">Upload Profile Photo</label>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                        </svg>
                    </button>
                </div> 
            </form> <% } %>
        <div class="container">
            <h4 class="text-center"><%= user[0]._doc.fullName %></h4>
            <p class="text-center"><%= user[0]._doc.username %></p>
            <% if (currentUser.following.includes(user[0]._doc.username)) { %>
                <form action="/unfollow/<%= user[0]._doc.username %>" method="post" class="row justify-content-center">
                    <button type="submit" class="btn btn-outline-danger col-6">Unfollow</button>
                </form>
                <% } else { %>
            <form action="/follow/<%= user[0]._doc.username %>" method="post" class="row justify-content-center">
                <button type="submit" class="btn btn-outline-success col-6">Follow</button>
            </form> <% } %>
        </div>
    </div>
        <!-- <button class="btn">edit profile</button> -->
    <div class="d-flex justify-content-around border align-items-center">
        <p class="fw-semibold align-middle my-0"><%=Object.keys(messages).length %> posts</p>
        <p class="fw-semibold align-middle my-0"><%= user.followers.length %> followers</p>
        <p class="fw-semibold align-middle my-0"><%= user.following.length %> following</p>
    </div>
    <p class="text-center fw-semibold">Previous Posts</p>
    <div class="container text-center">
        <div class="row mx-auto">
            <% messages.forEach(function(message) { -%>
            <div class="col" style="width: 161px; height: 161px;">
                <a href="/message-focus">
                    <img class="img-fluid" src="<%= message.image %>">
                </a>
            </div> <% }) %>
        </div>
    </div>
</body>
</html>